{% extends "AppCoder/padre.html" %}

<!--ACA STATIC ESTA INVOCANDO EL CSS DE LA CARPETA STATIC, 
    NOSOTROS LO PODEMOS CAMBIAR Y 
    AGREGAR MAS CSS EN LA CARPETAA Y 
    OBVIAMENTE ESPECIFICAR EL NOMBRE
-->

{% load static %}

{% block titulo_de_pagina %}

<h1 class="mb-5">BUSQUEDA DE ESTUDIANTES!!</h1>

{% endblock %}

{% block contenido %}

<form action="{% url 'buscarEstudiante' %}" method="GET"> {% csrf_token %}
    <br>
    
    <label><strong>Nombre: </strong><input type="text" name="nombre" id="nombre"></label>

    <label><strong>Apellido: </strong><input type="text" name="apellido" id="apellido"></label>
    
    <input type="submit" value="Buscar">
    
</form>

{% endblock %}